.App {
  text-align: center;
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 66px;
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 66px;
}


.oncard {
  margin-bottom: 100px;
}
